<div class="container">
	<div class="consumer_signup">
		<h2>Sign up to get API key</h2>
			<form id="form_id1" action="/" method="post" name="myform">
			<label>Your App name :</label>
			<input type="text" name="consumername" id="consumername"/>
			<label>Choose Your App Key (3 digit random number)</label>
			<input type="text" name="consumerkey" id="consumerkey"/>
	        <input type="submit" value="submit">
			</form>
		</div>
	</div>